{% extends 'shop/layout.html' %}
{% load static %}
{% load humanize %}
{% block title %}Blog - Divisima{% endblock %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for i in posts %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="height: 400px;">
                    <img src="{{i.img.url}}" height="250">
                    <div class="card-body">
                        <p class="card-text" style="height: 50px;">{{i.title}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{i.timestamp|naturaltime}}</small>
                            <i class="fa fa-comments-o" aria-hidden="true"><span style="margin: 10px;">0</span></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
      {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a>
      </li>
      {% endif %}
      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>
</nav>
{% endblock %}