{% extends 'shop/layout.html' %}
{% block title %} About Us - Divisima{% endblock %}
{% block content %}
<!-- Page info -->
<div class="page-top-info">
    <div class="container section-title">
        <h4>About Us</h4>
    </div>
</div>
<!-- Page info end -->
<div class="container my-4">
    <p>Divisima is an Indian fashion e-commerce company headquartered in Bengaluru, Karnataka, India. The company was founded in 2019 to sell personalized gift items.</p>
    <p>Established by Karan Chaudhari. Divisima sold on-demand personalized gift items. It mainly operated on the B2B (business-to-business) model during its initial years. The site allowed customers to personalize products such as T-shirts, Jackets, Jeans, and others.</p>
    <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
    <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
    <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
</div>
{% endblock %}