{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}Checkout - Divisima{% endblock %}
{% block content %}
<!-- Page info -->
<div class="page-top-info">
    <div class="container section-title">
        <h4>CHECKOUT</h4>
    </div>
</div>
<div class="container my-4">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags ==  'success' %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<!-- Page info end -->
<span id="emptycart">
    <p></p>
</span>
<!-- cart section end -->

<section class="cart-section spad" id="hidecart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3 class="text-center">Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="total-th">Price</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span id="totalPrice"></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <a href="/shop/profile/{{user.id}}" class="site-btn">Place Order</a>
                <a href="/shop/cart/" class="site-btn sb-dark">Back To Cart</a>
            </div>
        </div>
    </div>
</section>

<!-- cart section end -->
{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var totalPrice = 0;

if ($.isEmptyObject(cart)) {
    mystr = `<div class='text-center'><img src="{% static 'img/empty-cart.png' %}" height="300"><h2>Your Shopping Cart is empty.</h2></div>`;
    $('#emptycart').append(mystr);
    $('#hidecart').hide();
    $('#hidecheckout').hide();
} else {
    for (item in cart) {
        let name = cart[item][1];
        var qty = cart[item][0];
        var price = cart[item][2];
        let img = cart[item][3];
        let itemPrice = qty * price.slice(1, );
        totalPrice = totalPrice + (qty * price.slice(1, ));
        mystr = `<tr><td class="product-col"><div class='cart-detail-img'>${img}</div><div class="pc-title"><h4>${name}</h4><p>${price}</p></div></td><td class="quy-col text-center">${qty}</td><td class="total-col"><span id='update-price${item}'><h4>₹${itemPrice}</h4></span></td></tr>`;
        $('#items').append(mystr);
    }
}

var checkoutcart = [];
for (var item in cart){
    keycart = cart[item].slice(0,3);
    checkoutcart.push(["Product_Id "+item.slice(2,),keycart]);
}

$('#itemsJson').val(JSON.stringify(checkoutcart)); 
$('#cartItem').val(JSON.stringify(cart));
{% if thank %}
$('#emptycart').hide();
$('#hidecart').hide();
$('#hidecheckout').hide();
localStorage.clear(); 
{% endif %}

document.getElementById('totalPrice').innerHTML = "₹" + totalPrice;

$('#amount').val($('#totalPrice').html());
</script>
{% endblock %}