{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}Checkout - Divisima{% endblock %}
{% block content %}
<!-- Page info -->
<div class="page-top-info">
    <div class="container section-title">
        <h4>CHECKOUT</h4>
    </div>
</div>
<!-- Page info end -->
<span id="emptycart">
    <p></p>
</span>
<!-- cart section end -->
<section class="cart-section spad" id="hidecart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <h3 class="text-center">Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="total-th">Price</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span id="totalPrice"></span></h6>
                    </div>
                </div>
            </div>
        </div>
        <a href="/shop/cart/"><button class="site-btn submit-order-btn my-4">Back To Cart</button></a>
    </div>
</section>
<!-- cart section end -->
<!-- checkout section  -->
<section class="checkout-section" id="hidecheckout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <form class="checkout-form">
                    <div class="cf-title">Billing Address</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Address">
                            <input type="text" placeholder="Address line 2">
                            <input type="text" placeholder="Country">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="State">
                            <input type="text" placeholder="Zip code">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="City">
                            <input type="text" placeholder="Phone no.">
                        </div>
                    </div>
                    <button class="site-btn submit-order-btn">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- checkout section end -->
{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var totalPrice = 0;

if ($.isEmptyObject(cart)) {
    mystr = `<div class='text-center'><img src="{% static 'img/empty-cart.png' %}" height="300"><h2>Your Shopping Cart is empty.</h2></div>`;
    $('#emptycart').append(mystr);
    $('#hidecart').hide();
    $('#hidecheckout').hide();
} else {
    for (item in cart) {
        let name = cart[item][1];
        var qty = cart[item][0];
        var price = cart[item][2];
        let img = cart[item][3];
        let itemPrice = qty * price.slice(1, );
        totalPrice = totalPrice + (qty * price.slice(1, ));
        mystr = `<tr><td class="product-col"><div class='cart-detail-img'>${img}</div><div class="pc-title"><h4>${name}</h4><p>${price}</p></div></td><td class="quy-col text-center">${qty}</td><td class="total-col"><span id='update-price${item}'><h4>₹${itemPrice}</h4></span></td></tr>`;
        $('#items').append(mystr);
    }
}

document.getElementById('totalPrice').innerHTML = "₹" + totalPrice;
document.getElementById('cart').innerHTML = Object.keys(cart).length;
</script>
{% endblock %}