{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}Divisima{% endblock %}
{% block content %}
  <!-- Hero section -->
  <section class="hero-section">
    <div class="hero-slider owl-carousel">
      {% for prod in feat_prods %}
      <div class="hs-item set-bg" data-setbg="{{prod.img.url}}">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7 text-white">
              <span>NEW ARRIVALS</span>
              <h2>{{prod.product_name}}</h2>
              <p>{{prod.desc|slice:"0:125"}}....</p>
              <div class="text-white">
                <span>from</span>
                <h2>{{prod.price}}</h2>
              </div>
              <a href="/shop/fea-product/{{prod.id}}" class="site-btn sb-line">DISCOVER</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="container">
      <div class="slide-num-holder" id="snh-1"></div>
    </div>
  </section>
  <!-- Hero section end -->

  <!-- Features section -->
  <section class="features-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/1.png' %}" alt="#">
            </div>
            <h2>Fast Secure Payments</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/2.png' %}" alt="#">
            </div>
            <h2>Premium Products</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/3.png' %}" alt="#">
            </div>
            <h2>Free & fast Delivery</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features section end -->  
<section class="top-letest-product-section">
    <div class="container">  
    <div class="section-title">
      {% for products, nSlides in allProd %}
    </div>
      <h2 class="section-title">LATEST {{products.0.cate.upper}} PRODUCTS</h2>     
      <div class="product-slider owl-carousel">  
        {% for product in products %}
        <div class="product-item">
          <div class="pi-pic">
            <a href="/shop/product/{{product.id}}"><div><img src="{{product.img.url}}"></div></a>
          </div>
          <div class="pi-text">
            <h6>{{product.price}}</h6>
            <a href="/shop/product/{{product.id}}">{{product.product_name}}</a>
          </div>
          <div style="padding-left: 40px;">
          <span id="divpr{{product.id}}">
            <button id="pr{{product.id}}" class="site-btn cart">ADD TO CART</button>
          </span></div>
          <pre>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
  </div>
</section>
{% endblock %}  
