{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}Divisima{% endblock title %}
{% block content %}
  <!-- Hero section -->
  <section class="hero-section">
    <div class="hero-slider owl-carousel">
      {% for prod in feat_prods %}
      <div class="hs-item set-bg" data-setbg="{{prod.img.url}}">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7 text-white">
              <span>NEW ARRIVALS</span>
              <h2>{{prod.product_name}}</h2>
              <p>{{prod.desc}}</p>
              <div class="text-white">
                <span>from</span>
                <h2>{{prod.price}}</h2>
              </div>
              <a href="#" class="site-btn sb-line">DISCOVER</a>
              <button id="pr{{prod.id}}" class="site-btn sb-white cart">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="container">
      <div class="slide-num-holder" id="snh-1"></div>
    </div>
  </section>
  <!-- Hero section end -->

  <!-- Features section -->
  <section class="features-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/1.png' %}" alt="#">
            </div>
            <h2>Fast Secure Payments</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/2.png' %}" alt="#">
            </div>
            <h2>Premium Products</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'img/icons/3.png' %}" alt="#">
            </div>
            <h2>Free & fast Delivery</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features section end -->
<section class="top-letest-product-section">
    <div class="container">     
      <div class="section-title">
      {% for products, range, nSlides in allProd %}

      </div>
      <h2 class="section-title">LATEST {{products.0.cate.upper}} PRODUCTS</h2>
      <div class="product-slider owl-carousel">  
        {% for product in products %} 
        <div class="product-item">

          <div class="pi-pic">
            <img src="{{product.img.url}}">
            <div class="pi-links">
              <a id="pr{{product.id}}" class="add-card cart"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>

              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>{{product.price}}</h6>
            <p>{{product.product_name}} </p>
          </div>
        </div>
        {% endfor %}
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="product-slider owl-carousel">
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </section>    
{% endblock content %}  

{% block js %}
  <script type="text/javascript">
    console.log('working');
    if(localStorage.getItem('cart') == null)
    {
      var cart = {};
    }
    else
    {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){
      console.log('clicked');
      var idstr = this.id.toString();
      console.log(idstr);
      if (cart[idstr] != undefined){
        cart[idstr] = cart[idstr] + 1;
      }
      else{
        cart[idstr] = 1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
    $('#popcart').popover();
    document.getElementById('popcart').setAttribute('data-content','<h5>Cart</h5>');

  </script>
{% endblock %}