{% extends 'shop/layout.html' %}
{% block title %}Login - Divisima{% endblock %}

{% block content %}
<!-- Page info -->
<div class="page-top-info">
    <div class="container section-title">
        <h4>Login</h4>
    </div>
</div>
<!-- Page info end -->
<!-- Contact section -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 contact-info">
            </div>
            <div class="col-lg-4">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <form class="contact-form" action="/shop/login/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="text-center"><button class="site-btn">Login</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->
{% endblock %}