{% extends 'shop/layout.html' %}
{% block title %}{{user.username}} - Divisima{% endblock %}

{% block content %}
<!-- Page info -->
<div class="page-top-info">
    <div class="container section-title">
        <h4>Your Profile</h4>
    </div>
</div>

<section class="cart-section spad" id="hidecart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <h3 class="text-center">Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="total-th">Price</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span id="totalPrice"></span></h6>
                    </div>
                </div>
                <a href="/shop/cart/" class="site-btn submit-order-btn sb-dark my-4">Back To Cart</a>
            </div>
        </div>
    </div>
</section>

<!-- Page info end -->
{% if profile.name %}
<div class="container my-4">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="jumbotron">
        <h3>Your Detail</h3>
        <hr>
        <p class="lead">{{profile.name}}</p>
        <p>{{profile.email}}</p>
        <p>{{profile.phone}}</p>
        <hr class="my-4">
        <p>{{profile.address}}</p>
        <p>{{profile.city}}, {{profile.state}}, {{profile.country}}</p>
        <p>{{profile.zip_code}}</p>
        <form action="/shop/checkout/" method="post">
            {% csrf_token %}
            <input type="hidden" name="userId" id="userId" value="{{user.id}}">
            <input type="hidden" name="itemsJson1" id="itemsJson1">
            <input type="hidden" name="cartItem1" id="cartItem1">
            <input type="hidden" name="amount1" id="amount1">
            <a class="btn btn-primary btn-lg" href="/shop/update/{{user.id}}" role="button">Update Profile</a>
            <input class="btn btn-primary btn-lg" id="order_button" type="submit" value="Place Order">
        </form>       
    </div>
</div>
{% endif %}
<!-- Contact section -->
<section class="checkout-section my-4" id="profile_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <form class="checkout-form" method="post" action="/shop/profile/{{user.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="useremail" value="{{user.email}}">
                    <div class="cf-title">Billing Address</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input type="text" name="name" required placeholder="Name">
                            <input type="text" name="address" required placeholder="Address">
                            <input type="text" name="country" required placeholder="Country">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="state" required placeholder="State">
                            <input type="text" name="zip_code" required placeholder="Zip code">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="city" required placeholder="City">
                            <input type="text" name="phone" required placeholder="Phone no.">
                        </div>
                    </div>
                    <button class="site-btn submit-order-btn">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="checkout-section" id="order_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-2 order-lg-1">
                <form class="checkout-form" method="post" action="/shop/checkout/">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="itemsJson" id="itemsJson">
                    <input type="hidden" name="cartItem" id="cartItem">
                    <input type="hidden" name="amount" id="amount">
                    <div class="cf-title">Billing Address</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input type="text" name="name" required placeholder="Name">
                            <input type="email" name="email" required placeholder="Email">
                            <input type="text" name="address" required placeholder="Address">
                            <input type="text" name="country" required placeholder="Country">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="state" required placeholder="State">
                            <input type="text" name="zip_code" required placeholder="Zip code">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="city" required placeholder="City">
                            <input type="text" name="phone" required placeholder="Phone no.">
                        </div>
                    </div>
                    <button class="site-btn submit-order-btn">Place Order</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->
{% endblock %}
{% block js %}
<script>
    var totalPrice = 0;

    for (item in cart) {
        let name = cart[item][1];
        var qty = cart[item][0];
        var price = cart[item][2];
        let img = cart[item][3];
        let itemPrice = qty * price.slice(1, );
        totalPrice = totalPrice + (qty * price.slice(1, ));
        mystr = `<tr><td class="product-col"><div class='cart-detail-img'>${img}</div><div class="pc-title"><h4>${name}</h4><p>${price}</p></div></td><td class="quy-col text-center">${qty}</td><td class="total-col"><span id='update-price${item}'><h4>₹${itemPrice}</h4></span></td></tr>`;
        $('#items').append(mystr);
    }
    document.getElementById('totalPrice').innerHTML = "₹" + totalPrice;

    var checkoutcart = [];
    for (var item in cart){
        keycart = cart[item].slice(0,3);
        checkoutcart.push(["Product_Id "+item.slice(2,),keycart]);
    }

    $('#itemsJson').val(JSON.stringify(checkoutcart)); 
    $('#cartItem').val(JSON.stringify(cart));
    $('#amount').val($('#totalPrice').html());
    $('#itemsJson1').val(JSON.stringify(checkoutcart)); 
    $('#cartItem1').val(JSON.stringify(cart));
    $('#amount1').val($('#totalPrice').html());

    {% if thank %}
    $('#emptycart').hide();
    $('#hidecart').hide();
    $('#hidecheckout').hide();
    localStorage.clear(); 
    {% endif %}

    $('#order_button').hide();
    $('#profile_form').hide();
    $('#order_form').hide();
    $('#hidecart').hide();
    nitem = Object.keys(cart).length;
    if (nitem !== 0) {
        $('#order_button').show();
        $('#order_form').show();
        $('#hidecart').show();  
    }
    {% if new_user %}
    $('#profile_form').show();
    $('#order_form').hide();
    {% endif %}
</script>
{% endblock %}